{% extends 'layout.twig' %}

{% block content %}
  {% for blogPost in blogPosts %}
  <div class="blog-post">
    <h2>{{ blogPost.title }}</h2>
    <p>Jan 19, 2019 by <a href="#">Alex</a></p>
    <div class="blog-post-image">
      <img src="images/Keyboard.png" alt="image">
    </div>
    <div class="blog-post-content">
      {{ blogPost.content }}
    </div>
  </div>
  {% endfor %}
{% endblock %}
