{% extends 'layout.twig' %}

{% block content %}
<div class="blog-post">
  <h2>{{ blogPost.title }}</h2>
  {% if blogPost.img_src %}
    <img src="{{ blogPost.img_src }}" alt="blog_img">
  {% endif %}
  <p>Jan 19, 2019 by Alex</p>
  <div class="blog-post-content">
    {{ blogPost.content }}
  </div>
</div>
{% endblock %}
